.header,
.content,
.footer
	width:700px
	margin:0 auto

.header
	padding:20px 0
	border-bottom:1px solid #f9f9f9
	clearfix()

	h1
		float:left

	.tool
		float:right

		li
			display:inline-block

.footer
	text-align:center
	font-size:13px
	padding:10px 0
	border-top:1px solid #eee
	color:#999