# -*- coding: utf-8 -*-

<%def name="editor(title='', id='', content='', status='draft')">
<div class="editor-mod">
	<div class="editor-hd">
		<h2><label><input type="text" class="title" value="${title}"/></label></h2>
		<input type="hidden" value="${id}" class="post-id"/>
	</div>

	<div class="editor-bd">
		<div class="features">
			<div class="editor">
				<div class="outer">
					<div class="editorwrap">
						<div class="entry-markdown">
							<header>
								markdown
							</header>
							<div class="entry-markdown-content">
								<textarea class="post-content" name="" id="" cols="30" rows="10">${content}</textarea>
							</div>
						</div>

						<div class="entry-preview active">
							<header>
								preview
							</header>
							<div class="entry-preview-content">
								<div class="rendered-markdown"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="editor-ft">
		% if status == 'draft':
		<a href="#" class="btn-draft">save draft</a>
		% endif
		<a href="#" class="btn-publish">publish</a>
	</div>
</div>
</%def>