.entry
  margin: 25px 0 35px
  line-height: 25px
  min-height: 50px

  .meta
    font-size: 14px
    color: #999

.entry-bd

  a
    margin: 0 3px;
    padding-bottom: 2px;
    border-bottom: 1px solid #aaa;
