.pagination-wrapper
	margin-top: 15px
	text-align: right

	li
		display: inline-block

		a
			display: block
			padding: 5px 8px
			background-color: #fff
			border-radius: 3px
			border:1px solid #fff

			&:hover
				border: 1px solid #ccc

		span
			margin: 0 15px

	.on
		a
			border: 1px solid #ccc
