@import './_var.styl'
@import './_base.styl'
@import './_yue.css'
@import './_layout.styl'
@import './_entry.styl'
@import './_pagination.styl'

.yue
  .btn-save,
  .btn-save-draft,
  .btn-publish,
  .btn-unpublish,
  .btn-build,
  .btn-deploy,
  .btn-new
    font-size:16px
    background-color:#5ba4e5
    border:1px solid #308ddf
    color:#fff
    padding:7px 10px
    line-height:1.5
    border-radius:2px

    &:hover
      color:#fff







