@import './_codemirror.css'
@import './_dropzone.css'

.editor-mod
	margin:0 40px

	.title
		width:100%
		height:60px
		font-size:36px
		font-weight:700
		border:0 none
		margin:0 40px

	.features .editor .editorwrap
		height:600px

	.editor-ft
		position:fixed
		bottom:0
		left:0
		text-align:right
		width:100%
		padding:15px
		

