@import './_codemirror.css'
@import './_dropzone.css'

body
  padding-bottom:60px

.editor-mod
  margin:0 40px 15px
  border:1px solid #dfe1e3

  .title
    width:95%
    height:60px
    font-size:36px
    font-weight:700
    border:0 none
    margin:0 40px
    border-bottom:1px solid #dfe1e3

  .features .editor .editorwrap
    height:600px

  .editor-ft
    background-color:#F2F5F6
    position:fixed
    z-index:300
    bottom:0
    left:0
    text-align:right
    width:100%
    padding:15px
    border-top:1px solid #dfe1e3

