# -*- coding: utf-8 -*-

<!DOCTYPE html>
<html>
  <head>
    <meta content="charset=utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta name="viewport" content="width=device-width, maximum-scale=1.0" />
    <meta content="Miko Gao" name="description"/>
    <meta content="" name="keywords"/>
    <meta name="baidu-site-verification" content="tEppcOuexj" />
    <link rel="shortcut icon" href="{{{img/favicon.ico}}}" type="image/x-icon">
    ${self.meta()}
    <title>${self.title()}</title>
    <link rel="stylesheet" href="{{{css/base.css}}}"/>
    ${self.css()}
  </head>
  <body class="yue">
    <div class="header">
      <h1 class="page-title">
        <a href="/">GaoWhen高H温</a>
      </h1>
      <div class="page-subtitle">「文不能测字 武不能防身」</div>
			% if g and g.debug:
      <ul class="tool">
        <li><a class="btn-build" href="/build">build</a></li>
        <li><a href="/new">new</a></li>
      </ul>
			% endif
    </div>
    ${self.content()}
    <div class="footer">
      <div class="copyright">
        &copy; Copyright 2005 - 2015 <a href="https://twitter.com/gaowhen">Miko Gao aka 糖伴西红柿</a>
      </div>
    </div>
    <script src="{{{js/base.js}}}"></script>
    <script src="{{{js/common.js}}}"></script>
    ${self.js()}
  </body>
</html>

<%def name="content()">
  <div class="content">
    ${self.pagetitle()}
    <div class="main">
      ${self.main()}
    </div>
    <div class="side">
      ${self.side()}
    </div>
  </div>
</%def>

<%def name="header()">
</%def>

<%def name="footer()">
</%def>

<%def name="title()">Gaowhen高H温</%def>
<%def name="meta()"></%def>
<%def name="css()"></%def>
<%def name="js()"></%def>

<%def name="pagetitle()"></%def>
<%def name="main()"></%def>
<%def name="side()"></%def>
