<!DOCTYPE html>
<html>
  <head>
    <meta content="charset=utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta name="viewport" content="width=device-width, maximum-scale=1.0" />
    <meta content="" name="description"/>
    <meta content="" name="keywords"/>
    <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">
    ${self.meta()}
    <title>${self.title()}</title>
    <link rel="stylesheet" href="/static/css/base.css"/>
    ${self.css()}
  </head>
  <body class="yue">
    <div class="header">
      <h1>GaoWhen高H温</h1>
      % if g.debug:
      <ul class="tool">
        <li><a class="btn-build" href="/build">build</a></li>
        <li><a href="/new">new</a></li>
      </ul>
      % endif
    </div>
    ${self.content()}
    <div class="footer">
      <div class="copyright">
        &copy; Copyright 2005 - 2015 by <a href="http://twitter.com/gaowhen">糖伴西红柿 aka Miko Gao</a>
      </div>
    </div>
    <script src="/static/js/base.js"></script>
    ${self.js()}
  </body>
</html>

<%def name="content()">
  <div class="content-wrapper">
    ${self.pagetitle()}
    <div class="main">
      ${self.main()}
    </div>
    <div class="side">
      ${self.side()}
    </div>
  </div>
</%def>

<%def name="header()">
</%def>

<%def name="footer()">
</%def>

<%def name="title()">Summer Blog</%def>
<%def name="meta()"></%def>
<%def name="css()"></%def>
<%def name="js()"></%def>

<%def name="pagetitle()"></%def>
<%def name="main()"></%def>
<%def name="side()"></%def>
